.cardsScroll-item {
  min-width: 170px;
  max-width: 170px;
  min-height: 210px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  background-color: #030e1b99;
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: 0px 14px 14px 0px #00000040;
  border: 2px solid #ae00ff;
  transition: all 0.5s;
  transform-origin: center;
  position: relative;

  &.activeScroll {
    min-height: 273px;
    min-width: 213px;

    .img-ticket {
      img {
        width: 175px;
        position: relative;
        z-index: 4;
      }
      
      &:before {
        z-index: 3;
      }
    }
  }


  @media (max-width: 400px) {
    min-width: 145px;
    max-width: 170px;

    &.active,
    &.activeScroll {
      min-height: 273px;
      min-width: 183px;
    }
  }

  .img-ticket {
    img {
      rotate: 30deg;
    }
  }

  // &:before {
  //   position: absolute;
  //   content:"";
  //   background-image: radial-gradient(50% 50% at 50% 50%, rgba(174, 0, 255, 0.9) 0%, rgba(174, 0, 255, 0) 100%);
  //   top: 0;
  //   width: 100%;
  //   height: 22px;
  // }

  &.active {
    min-height: 273px;
    min-width: 213px;
    font-size: 50px;
    background-image: radial-gradient(
      90.91% 64.73% at 50% 35.27%,
      rgba(173, 1, 254, 0.6) 0%,
      rgba(3, 14, 27, 0.6) 100%
    );
    position: relative;
    z-index: 5;
    scale: 1;

    .img-ticket {
      img {
        width: 175px;
        position: relative;
        z-index: 4;
      }
      
      &:before {
        z-index: 3;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
